.navbar {
  border-bottom: solid 2px var(--accent-color);
  display: grid;
  grid-template-columns: 2fr repeat(3, fr);
}

.item {
  cursor: pointer;
  background-color: rgba(223, 223, 223, 0.329);
  border: solid 1px var(--accent-color);
  line-height: 200%;
}

.item1 {
  grid-column-start: 2;
}
.item2 {
  grid-column-start: 3;
}
.item3 {
  grid-column-start: 4;
}