input {
  width: 70%;
  height: fit-content;
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 10px;
}

input:focus {
  position:relative;
  margin: 2 px;
  outline: none !important;
  border: solid 1px black;
}

.wrapper {
  display:flex;
}