.main__body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.content-wrapper {
  grid-column-start: 2;
  overflow: hidden;
  min-width: 300px;
  min-height: 90vh;
  margin-left: var(--global-margin);
  margin-right: var(--global-margin);
  border-radius: 20px;
  border: 1px dashed var(--accent-color);
}

ul {
  text-align: center;
  list-style-position: inside;
}

.upload-button {
  border: 1px solid var(--accent-color);
  height: fit-content;
  margin: var(--global-margin);
  cursor: pointer;
}

@media (max-width: 500px) {
  .body {
    display: flex;
    flex-direction: column;
  }
}
