.App {
  text-align: center;
  background-color: var(--body-bg);
  margin: 0;
  min-height: 100vh;
}

.body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.content-wrapper {
  grid-column-start: 2;
  overflow: hidden;
  min-width: 300px;
  margin: var(--global-margin);
  border-radius: 20px;
  border: 1px dashed var(--accent-color)
  }

ul {
  text-align: center;
  list-style-position: inside;
}

.upload-button {
  border: 1px solid var(--accent-color);
  height: fit-content;
  margin: var(--global-margin);
  cursor: pointer;
}

/* * {pointer-events: none;} */